In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('urldata.csv', dtype=object)
df = df.drop(['result', 'Unnamed: 0'], axis=1)

In [3]:
df

                                                      url      label
0                                  https://www.google.com     benign
1                                 https://www.youtube.com     benign
2                                https://www.facebook.com     benign
3                                   https://www.baidu.com     benign
4                               https://www.wikipedia.org     benign
...                                                   ...        ...
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  malicious
450172  http://faboleena.com/js/infortis/jquery/plugin...  malicious
450173  http://faboleena.com/js/infortis/jquery/plugin...  malicious
450174                             http://atualizapj.com/  malicious
450175  http://writeassociate.com/test/Portal/inicio/I...  malicious

[450176 rows x 2 columns]

In [4]:
df['label'] = df['label'].replace({'malicious': 1, 'benign': 0})

/var/folders/sd/bc776y410030dfw62pp4g4_r0000gn/T/ipykernel_6265/3609359147.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['label'] = df['label'].replace({'malicious': 1, 'benign': 0})

In [5]:
df3 = pd.concat([df[df.label==0].sample(10000), df[df.label==1].sample(5000)])
df3

                                                      url  label
137815  https://www.ancientfaces.com/research/story/40...      0
269880  https://www.ovguide.com/jeanne-eagels-9202a8c0...      0
160786            https://www.census-online.us/view/TRAN/      0
324503  https://www.wordiq.com/definition/List_of_Onta...      0
99544   https://www.soundcloud.com/cburford2/heaven-co...      0
...                                                   ...    ...
418012                       http://bdmedlmolffobcan.de /      1
399347                                   http://ccgrabber      1
418199                      http://bdaffkbdlaeemdbm.com /      1
435944  http://jungbrasilia.com.br/Membership/Finance/...      1
421019  http://cr43245.tmweb.ru/system/logs/Validation...      1

[15000 rows x 2 columns]

In [6]:
df3.to_csv('test_data.csv', index=False)