In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('urldata.csv', dtype=object)
df = df.drop(['result', 'Unnamed: 0'], axis=1)

In [3]:
df

                                                      url      label
0                                  https://www.google.com     benign
1                                 https://www.youtube.com     benign
2                                https://www.facebook.com     benign
3                                   https://www.baidu.com     benign
4                               https://www.wikipedia.org     benign
...                                                   ...        ...
450171        http://ecct-it.com/docmmmnn/aptgd/index.php  malicious
450172  http://faboleena.com/js/infortis/jquery/plugin...  malicious
450173  http://faboleena.com/js/infortis/jquery/plugin...  malicious
450174                             http://atualizapj.com/  malicious
450175  http://writeassociate.com/test/Portal/inicio/I...  malicious

[450176 rows x 2 columns]

In [5]:
df['label'] = df['label'].replace({'malicious': 1, 'benign': 0})

In [7]:
df = pd.concat([df[df.label==0].sample(20000), df[df.label==1].sample(20000)])
df

                                                      url  label
249838                      https://www.montana-awwa.org/      0
231961  https://www.lessonplanspage.com/lamusicaddtone...      0
199775  https://www.forlocations.com/find-igasupermark...      0
38941          https://www.en.wikipedia.org/wiki/Ruta_Lee      0
112808           https://www.usfighter.tripod.com/dfc.htm      0
...                                                   ...    ...
383784            http://campbelllairdstudio.com/elements      1
440716  http://housingfinancecommission.com/secured/mi...      1
415241          http://rokofloor.cz/xUj1d39Iaw/ihdGMB.php      1
433071       http://bagley-cpa.com/sa/Live/Live/index.php      1
410074                            http://new.dns-syn.com/      1

[40000 rows x 2 columns]

In [8]:
data_shuffled = df.sample(frac=1, random_state=42)

In [9]:
# Determine the number of rows for training and testing
train_size = int(0.8 * len(df))
test_size = len(df) - train_size

In [10]:
# Split the dataset into training and testing sets
train_set = data_shuffled[:train_size]
test_set = data_shuffled[train_size:]

In [11]:
# Write training and testing sets to CSV files
train_set.to_csv('train_data.csv', index=False)
test_set.to_csv('test_data.csv', index=False)